.trans-300-ease-all {
  transition: 300ms ease all;
}

.trans-500-ease-all {
  transition: 300ms ease all;
}

.rotate {
  @extend .trans-300-ease-all;
  &:hover {
    transform: rotate(-45deg);
  }
}

/* fade-slide */
.fade-slide-y-enter-active {
  transition: all 0.3s ease;
}

.fade-slide-y-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-slide-y-enter-from,
.fade-slide-y-leave-to {
  transform: translateY(10px);
  opacity: 0;
}
