.theme-light {
  --text-logo: #000;

  --text-normal: rgba(0, 0, 0, 0.9);
  --background-nomal: #ffffff;

  --background-main-head: rgba(255, 255, 255, 0.7);

  --text-footer: #333;
  --background-footer: #fafafa;

  --text-tool-bar: #333;
  --background-tool-bar: #f0f0f0;
}

.theme-dark {
  --text-logo: #fff;

  --text-normal: rgba(255, 255, 255, 0.9);
  --background-nomal: #2c2a2a;

  --background-main-head: rgba(52, 50, 50, 0.7);

  --text-footer: #f0f0f0;
  --background-footer: #2c2a2a;

  --text-tool-bar: #ccc;
  --background-tool-bar: #2c2a2a;
}
