:root {
  --text-accent: #e93796;
}
.theme-light {
  --text-logo: #000;

  --text-normal: rgba(0, 0, 0, 0.9);
  --background-nomal: #ffffff;

  --background-main-head: rgba(255, 255, 255, 0.7);

  --text-footer: #333;
  --background-footer: #fafafa;

  --text-tool-bar: #333;
  --background-tool-bar: #f0f0f0;

  --text-button: #333;

  --main-gradient: linear-gradient(25deg, #3bb0da, #92b0a8, #bbb175, #d7b23a);
  --text-grid: #333;
  --background-grid-item: #f0f0f0;
}

.theme-dark {
  --text-logo: #fff;

  --text-normal: rgba(255, 255, 255, 0.9);
  --background-nomal: #2c2a2a;

  --background-main-head: rgba(52, 50, 50, 0.7);

  --text-footer: #f0f0f0;
  --background-footer: #2c2a2a;

  --text-tool-bar: #ccc;
  --background-tool-bar: #2c2a2a;

  --text-button: #fff;

  --main-gradient: linear-gradient(25deg, #060e33, #4e4563, #968397, #e3c8ce);
  --text-grid: #f0f0f0;
  --background-grid-item: #403e3e;
}
